body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.match {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
}

.player {
    padding: 5px;
    margin: 2px;
}

.winner {
    background-color: #e6ffe6;
}

.tournament-info {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.bye-match {
    color: #666;
    font-style: italic;
}

.history-section {
    margin-top: 30px;
    background: #fafcff;
    border-radius: 4px;
    padding: 16px;
    border: 1px solid #e7eef5;
}

.history-round {
    margin-bottom: 15px;
}

.history-round-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.third-place-title {
    font-style: italic;
    margin-top: 18px;
    font-weight: bold;
}

.history-match.winner span {
    font-weight: bold;
    color: #228822;
}

/* --- styl i pozycja przycisku --- */
.bottom-button {
    text-align: center;
    padding: 20px;
}

.bottom-button a button {
    background-color: #007bff; /* niebieski */
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.bottom-button a button:hover {
    background-color: #0056b3;
}

..danger-btn {
     background-color: #dc3545; /* czerwony */
     color: white;
     border: none;
     padding: 10px 20px;
     border-radius: 8px;
     font-size: 16px;
     cursor: pointer;
     margin-top: 20px;
 }

 .danger-btn:hover {
     background-color: #b02a37; /* ciemniejszy czerwony */
 }


